MIRROR_API_HOST=0.0.0.0
MIRROR_API_PORT=8787
MIRROR_WS_PATH=/ws

MIRROR_FTP_HOST=0.0.0.0
MIRROR_FTP_PORT=2121
MIRROR_FTP_USERNAME=mirror
MIRROR_FTP_PASSWORD=mirror_pass

MIRROR_STORAGE_ROOT=./mirror-data
MIRROR_PROCESSING_CONCURRENCY=2
MIRROR_PREVIEW_QUALITY=74
MIRROR_FULL_QUALITY=90
MIRROR_WATCH_DEBOUNCE_MS=900
MIRROR_DEFAULT_RETOUCH_INTENSITY=0.22

VITE_MIRROR_API_BASE=http://localhost:8787
VITE_MIRROR_WS_URL=ws://localhost:8787/ws
