NODE_ENV=development
API_PORT=8080
WS_PATH=/ws
CORS_ORIGIN=*

STORAGE_ROOT=./storage

FTP_HOST=0.0.0.0
FTP_PORT=2121
FTP_USER=mirror
FTP_PASSWORD=mirror123
FTP_PASV_URL=127.0.0.1
FTP_PASV_MIN=2100
FTP_PASV_MAX=2110

REDIS_ENABLED=false
REDIS_URL=redis://127.0.0.1:6379

DEFAULT_PRESET_ID=mirror-natural
DEFAULT_RETOUCH_INTENSITY=25
PREVIEW_MAX_WIDTH=1440
